th.field-name {
    word-break: break-all;
}

.column-goal_pies {
    width: 100%;
    cursor: pointer
}

.js-pie_chart p span{
    font-weight: bold;
}

.admin-experiment-goal-pies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.admin-experiment-status {
    padding: 0.3em 1em;
    border-radius: 25px;
    border: 0;
    color: #fff;
    margin-bottom: 1em;
}

/* inactive */
.admin-experiment-status.state-0 {
    background: #7a7a7a;
}

/* active */
.admin-experiment-status.state-1 {
    background: #00be8b;
}

/* completion */
.admin-experiment-status.state-2 {
    background: #d42764;
}

.admin-experiment-description {
    opacity: 0.7;
}
