{% load exp_extras %}
<div>
    {% for goal, goal_stat_json in stat.iteritems %}
        {% if goal_stat_json %}
            <h3>Цель {{ goal }}</h3>
            <div class="js-goal_daily_stat" id="{{ experiment }}-{{ goal }}-daily-stat" data-chart="{{ goal_stat_json }}" ></div>
        {% endif %}
    {% endfor %}
</div>
