<div class="admin-experiment-status state-{{ experiment.state }}">
    {% if experiment.state == experiment.STATE_COMPLETION %}
        Завершение
    {% else %}
        {{ experiment.get_state_display }}
    {% endif %}
</div>
<p>
    <strong>Участников: {{ stat.participants }}</strong>
    {% for name, variant in stat.variants.iteritems %}
        <br/>{{ name }}:&nbsp;<strong>{{ variant.participants }}</strong>
    {% endfor %}
</p>
<p class="admin-experiment-description">
    {{ experiment.description|linebreaksbr }}
</p>
