<div class="admin-experiment-goal-pies">
    {% for goal_name, goal in stat.goals.iteritems %}
        {% if goal.hits %}
            <div class="js-pie_chart" data-chart="{{ goal.pies_data }}" id="{{ experiment }}-{{ goal.name }}">
                <p>
                    <span>{{ goal.name }}</span>&nbsp;({{ goal.hits }})
                    &nbsp;<a href="{{ goal.abba_link|safe }}" target="_blank">🔗abba</a>
                    {% if goal.sample_size_link %}
                        &nbsp;<a href="{{ goal.sample_size_link|safe }}" target="_blank">🔗sample&nbsp;size</a>
                    {% endif %}
                </p>
                <svg></svg>
            </div>
        {% endif %}
    {% endfor %}
</div>
