{% load exp_extras %}
<script>
    var EXPERIMENTS_URL = '{% abs_url 'experiments:main' %}';
    var experiments = {};
    {% if not request.participant.is_human %}
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% abs_url 'experiments:confirm_human' %}', true);
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.send();
    {% endif %}
</script>
<script src="{{ STATIC_URL }}js/experiments.main.js?v={{ VERSION }}"></script>
